
root{:

      --mainColor: #15202B;
      --secondaryColor: #192734;
 
     --borderColor: #c1c1c1;
 
     --mainText: #black;
     --secondaryText: #4b5156;

     --themeDotBorder: yellow;


     --previewBg: 251, 249, 243, 0.8;
     --previewshdow: #f0ead6;

     --buttontnColor: black;
 }



































