

root{:

    --mainColor: #46344E;
    --secondaryColor: #382a3f;

   --borderColor: #1d1520;

   --mainText: #fff;
   --secondaryText: #4b5156;

   --themeDotBorder: red;


   --previewBg: 251, 249, 243, 0.8;
   --previewshdow: #f0ead6;

   --buttontnColor: black;
}































